---
http_interactions:
- request:
    method: post
    uri: http://api.rdio.com/1/
    body:
      encoding: US-ASCII
      string: method=getAlbumsForArtist&artist=r79991&count=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      x-mashery-responder:
      - prod-p-worker-lax-03.mashery.com
      content-type:
      - application/json
      x-srv:
      - srv-207-09
      content-language:
      - en
      x-version:
      - '720'
      x-original-transfer-encoding:
      - chunked
      x-original-content-encoding:
      - gzip
      x-original-content-length:
      - '1679'
    body:
      encoding: UTF-8
      string: '{"status": "ok", "result": [{"baseIcon": "album/e/c/8/00000000000508ce/13/square-200.jpg",
        "releaseDate": "2010-05-04", "displayDate": "May  4, 2010", "duration": 3777,
        "isClean": false, "shortUrl": "http://rd.io/x/Qj5HV40/", "canStream": true,
        "embedUrl": "https://rd.io/e/Qj5HV40/", "type": "a", "price": "None", "key":
        "a329934", "icon": "http://rdio3img-a.akamaihd.net/album/e/c/8/00000000000508ce/13/square-200.jpg",
        "canSample": true, "name": "Forgiveness Rock Record", "isExplicit": false,
        "artist": "Broken Social Scene", "url": "/artist/Broken_Social_Scene/album/Forgiveness_Rock_Record/",
        "artistKey": "r79991", "length": 14, "trackKeys": ["t4075432", "t4075442",
        "t4075448", "t4075454", "t4075461", "t4075469", "t4075475", "t4075481", "t4075488",
        "t4075494", "t4075504", "t4075513", "t4075519", "t4075526"], "canTether":
        true, "artistUrl": "/artist/Broken_Social_Scene/"}, {"baseIcon": "album/1/f/4/00000000000504f1/3/square-200.jpg",
        "releaseDate": "2006-10-27", "displayDate": "Oct 27, 2006", "duration": 3367,
        "isClean": false, "shortUrl": "http://rd.io/x/Qj5HW7I/", "canStream": true,
        "embedUrl": "https://rd.io/e/Qj5HW7I/", "type": "a", "price": "None", "key":
        "a328945", "icon": "http://rdio3img-a.akamaihd.net/album/1/f/4/00000000000504f1/3/square-200.jpg",
        "canSample": true, "name": "You Fo[...]
