---
http_interactions:
- request:
    method: post
    uri: http://api.rdio.com/1/
    body:
      encoding: US-ASCII
      string: method=search&query=broken+social+scene&types=Album%2CArtist%2CTrack&count=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      x-mashery-responder:
      - prod-p-worker-lax-03.mashery.com
      content-type:
      - application/json
      x-srv:
      - srv-111-09
      content-language:
      - en
      x-version:
      - '720'
      x-original-transfer-encoding:
      - chunked
      x-original-content-encoding:
      - gzip
      x-original-content-length:
      - '9709'
    body:
      encoding: UTF-8
      string: '{"status": "ok", "result": {"track_count": 124, "results": [{"name":
        "Broken Social Scene", "baseIcon": "artist/no-artist-image-square.png", "hasRadio":
        true, "url": "/artist/Broken_Social_Scene/", "topSongsKey": "tr79991", "shortUrl":
        "http://rd.io/x/Qi1DZzQ/", "length": 109, "key": "r79991", "radioKey": "rr79991",
        "type": "r", "icon": "http://rdio3img-a.akamaihd.net/artist/no-artist-image-square.png"},
        {"baseIcon": "album/3/5/6/0000000000050653/1/square-200.jpg", "releaseDate":
        "2005-10-04", "displayDate": "Oct  4, 2005", "duration": 3788, "isClean":
        false, "shortUrl": "http://rd.io/x/Qj5HWRA/", "canStream": true, "embedUrl":
        "https://rd.io/e/Qj5HWRA/", "type": "a", "price": "None", "key": "a329299",
        "icon": "http://rdio1img-a.akamaihd.net/album/3/5/6/0000000000050653/1/square-200.jpg",
        "canSample": true, "name": "Broken Social Scene", "isExplicit": false, "artist":
        "Broken Social Scene", "url": "/artist/Broken_Social_Scene/album/Broken_Social_Scene/",
        "artistKey": "r79991", "length": 14, "trackKeys": ["t4067823", "t4067856",
        "t4067890", "t4067924", "t4067939", "t4067971", "t4068006", "t4068043", "t4068064",
        "t4068096", "t4068136", "t4068176", "t4068221", "t4068232"], "canTether":
        true, "artistUrl": "/artist/Broken_Social_Scene/"}, {"name": "Broken Social
        Scene Presents: Kevin Drew", "baseIcon": "artist/no-artist-image-square.png",
        "hasRadio": true, "url": "/artist/Broken_Social_Scene_Presents_Kevin_Drew/",
        "shortUrl": "http://rd.io/x/Qi1EeTA/", "length": 1, "key": "r403059", "radioKey":
        "rr403059", "type": "r", "icon": "http://rdio3img-a.akamaihd.net/artist/no-artist-image-square.png"},
        {"name": "Broken Social Scene Presents: Brendan Canning", "base[...]
